@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Hobby page</h1>
    <h3>Here are some of my favorite past times:</h3>
    <ul>
        <li>Video Games (Fortnite, Skyrim, Clash Royale)</li>
        <li>Sourdough Bread (My starter is named Toast Malone)</li>
        <li>Cross Stitch & Embroidery</li>
    </ul>
    <br />

    <p>Video Games: I have always enjoyed playing various video games on various systems.
        I love playing with my buddies in Fortnite, getting lost in the open world of Skyrim and Red Dead Redemption 2, 
        and competing in Clash Royale.
    </p>
    <img src="~/img/tacobellandfortnite.jpg" />
    <br />
    <p>Sourdough Bread: Toast Malone has produced a countless number loaves. 
        I never make "regular" sourdough bread anymore. I only make loaves with italian seasoning, garlic powder, and a BUNCH of cheese.
        They are cheesy, savory, and absofruitley delicious!
    </p>
    <img src="~/img/sourdouch.jpg" />
    <br />
    <p>Cross Stitch & Embroidery: This is my newest hobby. I really want to get good at embroidering my clothes.
        I want to be able to add designs and logos to shirts and hoodies and stuff. But so far, I have created a couple
        cool designs (mainly cross stitch).
    </p>
    <img src="~/img/crossstitch.jpg" />
    <br />
</div>
